.login__container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  /* background-color: aquamarine; */
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: brown; */
}
form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: 100%; */
}
input {
  height: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #0d0c22;
}
button {
  padding: 0.5rem 0;
  cursor: pointer;
  width: 50%;
  background-color: #0d0c22;
  border-radius: 0.5rem;
  color: whitesmoke;
}
@media screen and (width < 720px) {
  .about {
    justify-content: center;
  }
}
